.table-page{

min-height:100vh;

background:#050510;

padding:20px;

color:white;

}



.poker-table{

height:450px;

background:#101d27;

border-radius:50%;

border:8px solid #222;

position:relative;

margin-top:40px;

box-shadow:
0 0 40px #5522aa;

}



.player{

position:absolute;

display:flex;

align-items:center;

gap:10px;

background:#18182b;

padding:8px 15px;

border-radius:20px;

}



.player img{

width:45px;

height:45px;

border-radius:50%;

}



.p0{

top:20px;

left:40%;

}



.p1{

right:20px;

top:45%;

}



.p2{

bottom:30px;

right:25%;

}



.p3{

bottom:30px;

left:35%;

}



.cards{

position:absolute;

top:45%;

left:50%;

transform:translate(-50%,-50%);

display:flex;

gap:8px;

}



.cards div{

background:white;

color:black;

width:45px;

height:65px;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

}



.bank{

position:absolute;

top:65%;

left:50%;

transform:translateX(-50%);

text-align:center;

}



.actions{

display:flex;

gap:10px;

margin-top:30px;

}



.actions button{

flex:1;

height:55px;

border-radius:15px;

border:none;

color:white;

font-size:16px;

}


.fold{

background:#b83232;

}


.check{

background:#344cff;

}


.bet{

background:#16a34a;


  .timer{

position:absolute;

top:20px;

right:30px;

background:#222;

padding:10px 20px;

border-radius:20px;

}


.deal{

margin-top:20px;

background:#8b5cf6;

color:white;

border:none;

padding:15px;

border-radius:15px;

}


.hand{

display:flex;

gap:10px;

margin-top:20px;

}


.card{

width:50px;

height:70px;

background:white;

color:black;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

  }
}


.raise{

background:#8b5cf6;

}
