.playing-card{


width:60px;

height:90px;

background:white;

color:black;

border-radius:10px;

display:flex;

justify-content:center;

align-items:center;

font-size:25px;

animation:show .5s;


}



.flip-card{


font-size:80px;

animation:rotate 1s infinite;


}



@keyframes show{


from{

transform:scale(0);

}


to{

transform:scale(1);

}

}



@keyframes rotate{


50%{

transform:rotateY(180deg);

}

}
