body{

margin:0;

background:#050511;

color:white;

font-family:Arial;

}


.app{

padding:20px;

}


header{

display:flex;

justify-content:space-between;

align-items:center;

}


.profile{

background:#15152c;

padding:20px;

border-radius:20px;

margin-top:20px;

}


.profile img{

width:70px;

border-radius:50%;

}



.season{

margin-top:20px;

background:#36156b;

padding:25px;

border-radius:20px;

}



.play{

margin-top:30px;

width:100%;

height:70px;

font-size:22px;

border-radius:20px;

background:#b06cff;

color:white;

border:none;

}



.buttons{

display:flex;

gap:10px;

margin-top:20px;

}


.buttons button{

flex:1;

height:60px;

border-radius:15px;

background:#202040;

color:white;

}



.card{

background:#15152c;

padding:30px;

border-radius:20px;

margin-top:30px;

}



nav{

position:fixed;

bottom:0;

left:0;

right:0;

height:70px;

background:#101020;

display:flex;

justify-content:space-around;

align-items:center;

}


nav button{

background:none;

border:none;

font-size:25px;

}

button{

background:#8b5cf6;

color:white;

border:none;

padding:15px;

border-radius:15px;

margin:10px;

font-size:16px;

}



.wheel{

font-size:80px;

text-align:center;

margin:30px;

.tournament{

background:#202040;

padding:20px;

border-radius:20px;

margin-top:20px;

}


.card button{

width:90%;

}

}
